rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /portfolio/profile {
      allow read, write: if true;
    }

    match /portfolioFiles/{fileId} {
      allow read, write: if true;

      match /chunks/{chunkId} {
        allow read, write: if true;
      }
    }
  }
}
